.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #FFF;
}

.speaker-detail{
 
  --background : var(--ion-color-plenary);
}

ion-content .ion-padding.speaker-detail{
  display: flex;
  
  justify-content: center;
  align-items: center;
}