<!-- <ion-header>
  <ion-toolbar color="workshop">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <div class="login-logo">
    <img src="assets/img/logo.png"   width="250" alt="Ionic logo">
  </div>
  <ion-text>
    {{displayName}}
  </ion-text>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="workshop" (click)="loginUser(loginForm)" type="submit" expand="block" *ngIf="session?.quota > session?.attendees.length && !isAlreadyRegistered">Reserve</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="danger" *ngIf="isAlreadyRegistered" (click)="deleteReservation()" type="submit" expand="block">Delete reservation</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-badge color="danger" *ngIf="session?.quota == session?.attendees.length">Quota exceeded </ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-row>
        <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
      </ion-row> -->
    </ion-row>
  </form>

</ion-content>

<ion-button color="medium" margin (click)="dismiss()">
  Cancel reservation
</ion-button>